/* ================================
Imports
================================= */
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,300,700,800);
@import url('font-awesome.min.css');

/* ================================
General
================================= */
body {
    padding-top: 70px;
}

footer {
    margin: 50px 0;
}

/* ================================
Social Media
================================= */
ul.social-network {	
	margin: 0;
	margin-left:0;
	padding-left: 0;
	list-style: none;
}
ul.social-network li {
	display: inline;
	margin: 5px 5px;
}

ul.social-network li a:hover span .fa-circle {
	color: #2b2b2b;
}